@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eb7a10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Fredoka', sans-serif;
    gap: 10px;
}

div#timer {
    color: #1f554077;
    font-size: 40px;
    text-align: center;
}

form#queijo {
    background-color: yellow;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    p#questao {
        color: #eb7a10;
        font-size: 100px;
    }

    label#nivel {
        color: #1f554077;
        font-size: 50px;
    }

    input#resposta {
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border-color: transparent;
    }

    p#recorde {
        color: yellow;
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        display: none;
    }

    button#inserir {
        padding: 20px;
        outline: none;
        border-color: transparent;
        border-radius: 10px;
        background-color: #eb7a10;

        &:hover {
            background-color: #eb7a109c;
        }
    }
}