@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fredoka';
    display: grid;
    grid-template-areas: "topo topo topo"
                        "estudo estudo estudo"
                        "main main main"
                        "baixo baixo baixo";
    width: 100vw;
    height: 100vh;
    grid-template-rows: 220px auto 1100px 200px;
    grid-template-columns: auto;
    background-color: #eb7a10;
    gap: 100px;
    overflow-x: hidden;
}

header {
    grid-area: topo;
    background-color: #fbf4e0;
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: 0px;

    img#logo {
        height: 150px;
        top: 0px;
    }
}

nav#catalogo {
    grid-area: estudo;
    display: flex;
    justify-content: space-around;
}

a.calabresa{
        width: 300px;
        height: 300px;
        background-color: #bd5959;
        border-radius: 100%;
        box-shadow: 4px 6px -1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        text-decoration: none;

        h2, p {
            align-items: center;
        }

        &:hover {
            background-color: #59bd9777;
        }
}

main#sobre {
    grid-area: main;
    background-color: white;
    margin: 0px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    text-align: justify;

    h1 {
        color: #00bf63;
        text-align: center;
        padding: 20px;
        font-size: 5rem;
    }

    p {
        text-align: justify;
        padding: 25px 25px 25px 25px;
        font-size: large;
    }

}

footer {
    grid-area: baixo;
    background-color: black;
}